*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:smooth;
   
}


#header nav{
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom:2px solid #ff4500;;
}

#header nav ul{
     list-style:none;
     margin:0 15rem;
     transform:translateX(12rem);
  }
#header nav ul li{
      display: inline-block;
      padding:10px 24px;
     
}
#header nav ul li a{
    text-decoration:none;
    text-transform:uppercase;
    columns: #000000;;
    display: block;
    padding:10px 24px;
    transition: all 0.5s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

#header nav div.image img{
    height:3rem;
    width:10rem;
    
}

#header nav ul li a:hover{
    color: #ccc;
}




/*---media query---*/

@media only screen and (max-width:830px){
     

    
#header nav{
    display:grid;
    grid-template-rows:10vh;
    justify-content:center;
    align-items: center;
    border-bottom:none;
    position: relative;
    
  }

  #header nav div.image img{

    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:0.5rem;
    
}

  
#header nav ul{
    position: absolute;
    top:100%;
    width:100%;
    margin: 0;
    background-color: rgb(155, 63, 63);
    transform:none;
    z-index:1;
 }
#header nav ul li{
     display: inline;
     padding:none;
     text-align:center;
}

#header nav ul li a{
    color: rgb(5, 3, 3);

}

div.content{
    position: relative;
    margin-top:19rem;
    display:flex;
    align-items:center;
    justify-content:center;
   background-color:#ccc;
   z-index: 1;
}

div.content img{
     width: 100%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     
}


#tech-lang{
    background-color:rgb(29, 27, 27);
   margin-top:2rem;
    width: 100%;
    display:grid;
    justify-content:center;
    align-items:center;
    
}

#tech-lang h1{
    text-align:center;
    padding-top:2rem;
    font-size:1.8em;
    text-transform:uppercase;
    line-height: 1.5;
    color: #fff
}

#tech-lang div#tech-content{
   display:block;
}

div#tech-content div.C-lang,div.CPP,div.Python,
div.JavaScript,div.Html,div.Css
{
    margin-top:2em;
    width:100%;
    background-color:rgb(15, 12, 10);
    border-radius:5px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, 
       rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

div#tech-content article{
    padding-top:1em;
}

div#tech-content img{
    height: 8em;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background:#5f5553;
    border-radius:50%;
}

div#tech-content p{
    color: rgba(252, 247, 247, 0.671);
    line-height: 2;
    font-size:1em;
    text-align: center;
    text-transform:capitalize;
    overflow: hidden;
    padding: 1em;
}

div#tech-content button.btn{
    background-color:#ff4500;
    border:none;
    border-radius:2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:1em;
}
div#tech-content article button a{
       text-decoration: none;
       padding: 10px 24px;
       display: block;
       text-transform:uppercase;
       letter-spacing:0.3em;
       font-size:1.2em;
       color:rgb(39, 25, 25);
  }

}



@media only screen and (min-width:830px) and (max-width:990px)
{
         
    #header nav{
        display:flex;
        justify-content:center;
        align-items: center;
        border-bottom:none;
   }


   #header nav div.image img{
       height:90%;
       width:100%;
       padding:0.3em 0 0.1rem 2rem;
   }

  
#header nav ul{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    margin: 0 auto;
    transform:none;
    overflow:hidden;
 }

 #header nav ul li{
    padding:0 0.9em 0 0;
    text-align:center;
    margin: 0;
}

#header nav ul li a{
    display:block;
    color: rgb(5, 3, 3);
    transition: all 0.4s ease;
}

#header nav ul li a:hover{
    background-color:#292929;
    color: #fff;
}


div.content{
    margin-top:3rem;
   background-color:#ccc;
  
}

div.content img{
     width: 100%;
     display: block;
     margin-left: auto;
     margin-right: auto;
 
}


#tech-lang{
    background-color:#fff;
    margin-top:2rem;
    width: 100%;
    display:grid;
    justify-content:center;
    align-items:center; 
}

#tech-lang h1{
    text-align:center;
    padding-top:2rem;
    font-size:1.8em;
    text-transform:uppercase;
    line-height: 1.5;
    color: #db0d0d;
}

#tech-lang div#tech-content{
    margin-top:2rem;
    display:grid;
    grid-template-rows:repeat(2,1fr);
    grid-template-columns:repeat(2,1fr);
    justify-content:center;
    align-items:center;
    grid-gap:2rem;
 }


 div#tech-content div.C-lang,div.CPP,div.Python,
div.JavaScript,div.Html,div.Css
{
    margin-top:2em;
    width:25rem;
    background-color:rgb(66, 62, 62);
    border-radius:5px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, 
       rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

div#tech-content article{
    padding-top:1em;
}

div#tech-content img{
    height: 5em;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background:#5f5553;
    border-radius:50%;
}

div#tech-content p{
    color: rgba(252, 247, 247, 0.671);
    line-height:1.5;
    font-size:1em;
    text-align:left;
    text-transform:capitalize;
    overflow: hidden;
    padding: 1em;
    display: block;
    padding-left:2em;
}

div#tech-content button.btn{
    background-color:#ff4500;
    border:none;
    border-radius:2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 1rem;
}

div#tech-content article button a{
    text-decoration: none;
    padding: 10px 24px;
    display: block;
    text-transform:uppercase;
    letter-spacing:0.3em;
    font-size:1.2em;
    color:rgb(39, 25, 25);
}

} 



@media only screen and (min-width:990px)
{
         
   

    
} 

